/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-enhanced-ajax-add-to-cart-for-wc-eaa2c {
	border: 1px dotted #f00;
}

.trs-display-controls {
	border: 1px solid lightgray;
	box-shadow: 0px 4px 10px gray;
}

.trs-options-wrapper {
	display: flex;
	justify-content: space-evenly;
}

.trs-wrapper { 
	/* border: 1px solid #333; */
	padding: 4px;
	position: relative;
}

.trs-wrapper:before {
	position: absolute;
	content: '';
	top: 10%;
	bottom: 20%;
	right: 0;
	border-right: 1px solid lightgray;
	/* margin: 0 10px; */
}

.trs-wrapper:last-child:before {
	content: '';
	border: none;
}

.trs-inner-wrapper {
	display: inline-block;
	padding: 4px;
}

.trs-toggle-container p.trs-toggle-label {
	/* margin: 5px; */
	margin-top: 0;
	margin-bottom: 0;
}

.trs-toggle div span {
	left: calc(50% - 18px);
}

.trs-dragging {
	background-color: red;
}

.trs-not-dragging {
	background-color: green;
}

.input-text.qty {
	width: 5em;
}

input.button-text {
	width: 8em;
}

.disabled-item {
	color: grey;
}

.disabled-item input.button-text {
	display: none;
}

.qty-preview {
	width: max-content;
	text-align: center;
	text-align: -webkit-center;
}

.qty-preview.input-area {
	text-align: center;
	text-align: -webkit-center;
	margin: auto;
}

.qty-preview.input-area input {
	display: block;
}

.qty-preview p.qty-preview {
	display: flex;
	justify-content: space-between;
	margin: 0 0;
	font-size: 10px;
	color: gray;
}

span.preview-text:first-child {
	margin-right: 4px;
}
